<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--扫描二维码端口-->
    <add key="SerialPort" value="COM2"/>
    <!--闸机信号端口-->
    <add key="GateSerialPort" value="COM3"/>
    <!--计数开闸命令 YY:可通过人数的高字节 XX为可通过人数的低字节-->
    <add key="OpenCountCMD" value="EB 01 41 00 AB"/>
    <!--出闸计数指令-->
    <add key="OutCountCMD" value="EB01C6002C"/>
    <add key="ClientUpdateURL" value="http://192.168.14.2:81/clientupdate/{0}/{1}"/>
    <add key="InterfacePath" value="http://10.1.27.209:8081/"/>
    <!--当前登陆人ID-->
    <add key="UserId" value="2"/>
    <!--设备ID-->
    <add key="DeviceId" value="2"/>
    <!--设备编号-->
    <add key="DeviceCode" value="300"/>
    
    <!--可以检票的场馆 场馆之间,分隔-->
    <add key="checkticketlist" value="2,4,11,13,14,15,16,17,19"/>
      <!--可以验票的场馆 场馆之间,分隔-->
    <add key="inspectticketlist" value="2,4,11,13,14,15,16,17,19"/>
    <!--电影票提前检票分钟-->
    <add key="BEFORE_MINUTES" value="20" />

    <!--离线数据上传时间默认是下午15点-->
    <add key="SYNC_HOUR" value="15" />

    <!--REDIS-->
    <add key="REDIS_CONN" value="http://192.168.10.235:6000" />
    <add key="REDIS_DBNUM" value="9" />
    <add key="REDIS_DBNUM_Log" value="3" /> 

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
